html {
  background-size: 100%;
  font-family: georgia,verdana,arial;
  color: darkslategray;
  line-height: 20px;
}

h1 {
  color: #216099;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}

pre  {
  padding: 1em;
  background-color: lavender;
  overflow: scroll;
}

code {
  font-size: 1.2em;
  background-color: lavender;
  padding: 0 4px;
  border-radius: 5px;
}

li {
  padding: 3px;
}
